.sponsor-row {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10vh 5vw 10vh 5vw;
}

.sponsor-row:nth-child(odd) {
    background-color: white;
    color: black !important;
}
.sponsor-row:nth-child(odd) a { color: black; }
.sponsor-row:nth-child(even) a { color: white; }


.sponsor-row div {
    width: 50%;
    text-align: center;
}

.sponsor-row img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    height:35rem;

}



/* Medium screens */
@media all and (max-width: 800px) {
  .sponsor-row {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
    flex-direction: column;
  }
  .sponsor-row div {
      width: 100%;
      text-align: center;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .sponsor-row {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
  .sponsor-row div {
      width: 100%;
      text-align: center;
  }
}
